

.dash-content{
	
	.news-list{
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
		padding: 20px;
		background-color: #ffffff;
		border-radius: 5px;
		margin-bottom: 20px;

		.left{
			
			button{
				padding: 3px 15px;
				border-radius: 4px;
				margin-bottom: 5px;
				font-weight: 800;
				text-align: center;
				background-color: #a4b9f0;
				border: none;
			}

			.heading{
				margin: 7px 0;
				font-size: 18px;
				font-weight: 600;
			}

			.contant{
				font-size: 13px;
				margin-bottom: 5px;
			}

			.publish-date{
				font-size: 12px;
				font-weight: 700;
			}
		}

		.right{
			button{
				padding: 3px 10px;
				margin-bottom: 5px;
				font-size: 14px;
				color: white;
				font-weight: 500;
				background-color: orange;
				border: none;
				cursor: pointer;
			}
		}
	}

	
}

form{
	a{
		text-decoration: none;
		color: white;
		&:hover{
			color: yellow;
		}
	}

	.form-group{
		padding: 15px 0;
	}

	.label-head{
		margin-top: 20px;
		font-weight: 800;
		font-size: 18px;
	}

	

	.col-sm{
		.form-input {
			// width: 700px;
			background: #fff;
			input {
				display: none;
			}
		
			label {
				display: block;
				margin-bottom: 20px;
				padding: 10px 0;
				width: 200px;
				height: 45px;
				text-align: center;
				background: orange;
				color: #fff;
				font-size: 15px;
				font-family: "Open Sans",sans-serif;
				text-transform: Uppercase;
				font-weight: 600;
				border-radius: 5px;
				cursor: pointer;
			}
		
			img {
				width:100%;
				object-fit: cover;
				display: none;
				margin-bottom: 20px;
			}
		}
	}

}

.form-input {
	background: #fff;
	input {
		display: none;
	}

	label {
		display: block;
		margin-bottom: 20px;
		padding: 10px 0;
		width: 200px;
		height: 45px;
		text-align: center;
		background: orange;
		color: #fff;
		font-size: 15px;
		font-family: "Open Sans",sans-serif;
		text-transform: Uppercase;
		font-weight: 600;
		border-radius: 5px;
		cursor: pointer;
	}

	img {
		width:100%;
		object-fit: cover;
		display: none;
		margin-bottom: 20px;
	}

	.slider{
		margin-bottom: 40px;
	}
}

.main-advpost{
	.slider{
		margin-top: 100px;
	}
}

.slider-advpost{
	margin-top: 100px;

	.slider{
		margin-bottom: 40px;
	}

	.slider-upload{
		margin-top: 30px;
	}
}




@media (max-width: 500px) {
    .dash-content{
	
		.news-list{
			display: block;
			
		}
	}
}